.hero {
  height: 90vh;
  background-image: url('../assets/images/home-hero-banner.JPEG');
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}

.hero-content {
  position: relative;
  z-index: 1;
  width: 100%;
  text-align: center;
  padding-bottom: 25vh;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.hero h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: white;
  text-align: center;
}

.hero p {
  font-size: 0.9rem;
  color: white;
  text-align: center;
  margin: 0;
}

.text-stroke-red,
.text-stroke-blue,
.text-main {
  position: absolute;
  left: 0;
  right: 0;
  white-space: nowrap;
  text-align: center;
}

.text-stroke-red {
  color: #ff0000;
  filter: blur(12px);
  z-index: 1;
  transform: translateX(-3px);
}

.text-stroke-blue {
  color: #0000ff;
  filter: blur(12px);
  z-index: 2;
  transform: translateX(3px);
}

.text-main {
  color: white;
  z-index: 3;
} 